body {
    background-color: #FDF8F5;
    font-family: Verdana, sans-serif;
}

#top-bar {

    background-color: black;
    color: white;
    padding: 50px 0px 50px 50px;
}

#top-nav {
    background-color: rgb(57, 57, 57);
    color: white;
    padding: 20px 0px 20px 20px;
    margin-bottom: 25px;

}

#bottom-nav {
    background-color: rgb(57, 57, 57);
    color: white;
    padding: 20px 0px 20px 20px;
}

.playlist_frame {
    padding: 10px;
    border: 1px solid #77aaff;
    box-shadow:  -1px 1px #77aaff,
         -2px 2px #ff0000,
         -3px 3px #434343,
         -4px 4px #002a73,
         -5px 5px #77aaff;
    margin: 10px;
}

.center {
    margin: auto;
    width: 100px;
    padding: 10px;
  }